<mat-toolbar>
    <button class="back-button" mat-mini-fab [routerLink]="['/personal-details','list']">
        <mat-icon>arrow_back</mat-icon>
    </button> 
    Personal details form 
</mat-toolbar>

<div class="content mat-elevation-z8" >
    <mat-toolbar>{{ headerText }}</mat-toolbar>
    <img src="./assets/img/placehold-32x32.png">
    <form [formGroup]="form" [ngStyle]="{'pointer-events': isPreviewMode && 'none'}">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" autocomplete="off">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput formControlName="company" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Created at</mat-label>
            <input matInput formControlName="createdAt" autocomplete="off">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="textarea">
            <mat-label>About</mat-label>
            <textarea matInput formControlName="about" autocomplete="off"></textarea>
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
            <mat-label>Tags</mat-label>
            <input matInput formControlName="tags" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="off">
        </mat-form-field>
    </form>

    <button mat-raised-button color="accent" class="submit-button" *ngIf="!isPreviewMode" (click)="submit()"><mat-icon>{{ matButtonIcon }}</mat-icon><span>{{ submitButtonText.toUpperCase() }}</span></button>
</div>

