<mat-toolbar>Personal details list</mat-toolbar>

<div class="content">
    <div class="header">
        <div class="filters">
            <form [formGroup]="filters">
                <mat-form-field appearance="outline" class="filter-field">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" autocomplete="off">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="filter-field">
                    <mat-label>Company</mat-label>
                    <input matInput formControlName="company" autocomplete="off">
                </mat-form-field>
            </form>
            
            <button mat-raised-button class="clear-button" (click)="resetFilters()"><mat-icon>close</mat-icon></button>
        </div>

        <div class="paginator">
            <mat-icon class="clickable" (click)="changePage(0, 1)">first_page</mat-icon>
            <mat-icon class="clickable" (click)="changePage(-1)">keyboard_arrow_left</mat-icon>
            <div class="text">{{ currentPage }}/{{ lastPage }}</div> 
            <mat-icon class="clickable" (click)="changePage(1)">keyboard_arrow_right</mat-icon>
            <mat-icon class="clickable" (click)="changePage(0, lastPage)">last_page</mat-icon>
        </div>
    </div>

    <table class="mat-elevation-z8">
        <tr>
            <th> Avatar </th>
            <th (click)="sortPersonalDetailsList(SortingColumn.Name)" class="clickable"> Name </th>
            <th (click)="sortPersonalDetailsList(SortingColumn.Company)" class="clickable"> Company </th>
            <th> <button mat-mini-fab [routerLink]="['/personal-details','add']"><mat-icon>add</mat-icon></button> </th>
        </tr>      

        <tr *ngFor="let person of paginatedPersonalDetailsList" class="clickable-row" [routerLink]="['/personal-details','preview', person.id]">
            <td><img src="./assets/img/placehold-32x32.png" [alt]="person.avatarUrl"> </td>
            <td> {{person.name}} </td>
            <td> {{person.company}} </td>
            <td>
                <mat-icon class="clickable" (click)="deletePersonalDetails(person); $event.stopPropagation()">delete</mat-icon>
                <mat-icon class="clickable" [routerLink]="['/personal-details','edit', person.id]">edit</mat-icon>
                <mat-icon class="clickable">chevron_right</mat-icon>
            </td>         
        </tr>     
        <tr *ngIf="filteredPersonalDetailsList.length === 0">
           <td colspan="4" class="no-data">No data matching the searching</td>
        </tr>
    </table>
</div>

